:root {
  --color-dark: #121212;
  --color-light: #f5f5f5;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 530px;
  overflow: hidden;
  margin: 50px 0;
}

.card-body {
  width: 100%;
  height: 100%;
  position: relative;
}

.player,
.dealer {
  width: 100%;
  height: 100%;
}

.title-dealer,
.title-player {
  font-size: 1rem;
  text-align: center;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.644); */
  background-color: var(--color-dark);
  padding: 0.4rem 1.2rem;
  border-radius: 0.35rem;
  margin-bottom: 1rem;
}

.dealer__cards,
.player__cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 34px 0;
  position: relative;
  justify-content: center;
}

.dealer__cards img,
.player__cards img {
  width: 134px;
  position: absolute;
  left: 100%;
  margin-left: -86px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1.2) 0.55s;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.452);
}


.player__cards img:first-child,
.dealer__cards img:first-child {
  transform: translateX(100%) rotate(-5deg);
}

.player__cards img:nth-child(2),
.dealer__cards img:nth-child(2) {
  transform: translateX(100%);
}

.player__cards img:first-child.active {
  left: 50%;
  margin-left: -80px;
  top: 0;
  transform: translate(0, 0) rotate(-5deg);
}

.dealer__cards img:first-child.active {
  left: 50%;
  margin-left: -80px;
  bottom: 0;
  transform: translate(0, 0) rotate(-5deg);
}

.player__cards img:nth-child(2).active {
  left: 50%;
  margin-left: -50px;
  top: 0;
  transform: translate(0, 0);
}

.dealer__cards img:nth-child(2).active {
  left: 50%;
  margin-left: -50px;
  bottom: 0;
  transform: translate(0, 0);
}


.dealer__cards img:hover,
.player__cards img:hover {
  transform: scale(1.08);
  z-index: 1;
}

.player__card {
  position: relative;
  left: -50%;
}

.dealer__score,
.player__score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 28px;
  background-color: var(--color-light);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.dealer__score {
  top: 200px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1.2) 0.65s;
  transform: scale(0);
}

.player__score {
  bottom: 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1.2) 0.65s;
  transform: scale(0);
}
.player__score.active {
  bottom: 240px;
  transform: scale(1);
}

.dealer__score.active {
  top: 0;
  transform: scale(1);
}



.dealer__score span,
.player__score span {
  font-size: 1.2rem;
  color: var(--color-dark);
  font-weight: bold;
}

.game-board__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 40px;
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 0.45s ease-in-out;
}

.game-board__actions.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.btn-hit-container,
.btn-stand-container,
.btn-double-container,
.btn-clear-container,
.btn-start-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}

.btn-hit-container span,
.btn-stand-container span,
.btn-double-container span,
.btn-clear-container span,
.btn-start-game-container span {
  font-size: 1rem;
  color: var(--color-light);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.822);
  margin-top: 5px;
  font-weight: 500;
}

#btn-hit,
#btn-stand,
#btn-double,
#btn-clear,
#btn-start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  padding: 0 !important;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.719);
  transition: all 0.3s ease;
}

#btn-clear,
#btn-start-game {
  font-size: 2.4rem;
}

#btn-start-game {
  border: 2px solid var(--color-light);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#btn-start-game.disabled {
  cursor: not-allowed;
  animation: none;
  filter: grayscale(100%);
}

.btn-hit-container img,
.btn-stand-container img,
.btn-double-container img,
#btn-start-game img {
  width: 25px;
  transition: all 0.3s ease;
}

.btn-double-container img {
  width: 34px;
}
