:root {
  --color-dark: #121212;
  --color-light: #f5f5f5;
}

body {
  background-image: url(../images/background-blackjack-2.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  /* transition: all 0.4s ease; */
}

body.game-start {
  background-image: url(../images/background-blackjack-active.png);
}

@media (max-width: 480px) {
  body.game-start {
    background-image: url(../images/background-blackjack-mobile.png);
  }

  body {
    background-image: url(../images/background-blackjack-mobile-home.png);
  }
}

header {
  background-color: var(--color-dark);
  height: 65px;
}
.navbar {
  background-color: var(--color-dark);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-size: 1.05rem !important;
}

header h1 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.dropdown-menu.show {
  background-color: var(--color-dark);
  border: 1px solid rgb(65, 65, 65);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--color-dark) !important;
}

.dropdown-menu.show a {
  color: var(--color-light);
}

.navbar {
  padding: 0.75rem 1rem !important;
}

.card {
  margin-top: 40px;
  border: none !important;
}

.logo {
  width: 20rem;
  transition: all 0.3s ease;
}
/* reduce the size of the logo in small devices */

@media (max-width: 320px) {
  .logo {
    width: 13rem;
  }
}

.card-title {
  font-size: 2.8rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-text {
  font-size: 1.2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.877);
  margin: 20px 0;
}

.chips {
  margin-bottom: 30px;
}

.chips img {
  cursor: pointer;
  transition: all 0.3s ease;
}

.chips img:hover {
  transform: scale(1.2);
}

.chip {
  margin: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.596);
  border-radius: 50%;
  animation: rotate 3.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bet {
  margin-bottom: 30px;
}

.bet-image img {
  width: 42px;
  height: 42px;
}

.bet-amount span,
.bet-balance span {
  font-size: 1.8rem;
  color: var(--color-light);
  margin: 0 26px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.644);
  transition: all 0.3s ease;
}

.btn {
  padding: 0.375rem 3.75rem !important;
}

.swal2-popup.swal2-toast {
  box-shadow: 0 0 0.625em #000000d1 !important;
}

/* Game Section */

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dealer__cards,
.player__cards {
  margin: 40px 0;
  position: relative;
}

.dealer__cards img,
.player__card img {
  width: 140px;
  position: relative;
  left: 100%;
  margin-left: -100px;
  transition: all 0.35s ease-in-out;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.452);
}

.dealer__cards img:hover,
.player__card img:hover,
.player__card--front img:first-child:hover {
  transform: scale(1.08);
  z-index: 1;
}

.player__card {
  position: relative;
  left: -40%;
}

.dealer__card--front img,
.player__card--front img:first-child {
  transform: rotate(-5deg);
}

.dealer__score,
.player__score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 28px;
  background-color: var(--color-light);
  border-radius: 5px;
  position: absolute;
  left: -120px;
  top: 140px;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.dealer__score span,
.player__score span {
  font-size: 1.2rem;
  color: var(--color-dark);
  font-weight: bold;
}
