#sfcmcedaa7dfpyp8qsnh7q9dq43s771fnkf {
    position: absolute;
}

#FCS_mcedaa7dfpyp8qsnh7q9dq43s771fnkf_divFix {
    width: 300px !important;
}

#FCS_mcedaa7dfpyp8qsnh7q9dq43s771fnkf_divCou {
    background:none !important;
    box-shadow: none !important;
    padding: 2px 8px 2px !important;

}

#FCS_mcedaa7dfpyp8qsnh7q9dq43s771fnkf_divCou img {
    width: 13px !important;
}

#FCS_mcedaa7dfpyp8qsnh7q9dq43s771fnkf_btSee,
#FCS_mcedaa7dfpyp8qsnh7q9dq43s771fnkf_divCac {
    display: none !important;
}


.visitor-container {
    position: relative;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
}

.visitor-container p {
    font-size: 1.1rem;
    margin-bottom: 46px;
}


#sfcmcedaa7dfpyp8qsnh7q9dq43s771fnkf {
    position: absolute;
    left: 46%;
    top: 40%;
    transform: translate(-50%, -50%);
    
}

#FCS_mcedaa7dfpyp8qsnh7q9dq43s771fnkf_divCac {
    background: none !important;
}